@charset "utf-8";


/* =Reset default browser CSS.
Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}
:focus {outline: 0;}

ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img{border: 0;}
figure{margin:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* -------------------------------------------------------------- */

body{
color:#fff;
font:15px verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
line-height:1.5;
-webkit-text-size-adjust: none;
background:#0d174a;
border-top:5px solid #02088a;
border-bottom:5px solid #02088a;
}

/* リンク設定
------------------------------------------------------------*/
a{color:#a3ffff;font-size: 14px;}
a:hover{opacity:.8;}
a:active, a:focus{outline:0;}


/* 全体
------------------------------------------------------------*/
#wrapper{
padding:0 1%;
width:98%;
position:relative;
}

.inner{
margin:0 auto;
width:100%;
}


/*************
/* ヘッダー
*************/
#header h1{
font-size:12px;
line-height:1.6;
font-weight:normal;
}

#header{
overflow:hidden;
padding:5px 0 0;
}

* html #header{height:1%;}


/*************
/* ロゴ
*************/
#header .logo{
float:left;
padding:20px 0;
}

.logo a{
font-size:25px;
font-weight:bold;
line-height:1;
font-family:"Meiryo",serif;
}

.logo span{
font-size:12px;
font-weight:normal;
}

.info{
float:right;
padding:20px 0;
}

.tel strong{
font-size:20px;
font-weight:bold;
}

/**************************
/* トップナビゲーション
**************************/
ul#topnav{
clear:both;
overflow:hidden;
margin:0 auto 30px;
}

* html ul#topnav{height:1%;}

ul#topnav li{
float:left;
}

ul#topnav a{
width:144px;
font-size:12px;
display:block;
padding:5px 0 10px 10px;
color:#fff;
border-left:3px solid #fff;
}

ul#topnav li:last-child a{width:142px;}

ul#topnav li.active a,ul#topnav a:hover{border-color:#02088a;}


/**************************
/* メイン画像（トップページ+サブページ）
**************************/
#mainBanner{
clear:both;
line-height:0;
}

#mainBanner .inner{position:relative;}

#mainBanner img{
max-width:100%;
height:auto;
}

.slogan{
position:absolute;
max-width:100%;
height:auto;
bottom:10px;
left:10px;
padding:5px 10px;
line-height:1.4;
z-index:100;
color:#02088a;
background:url(images/tp.png);
}

.subImg .slogan{
left:auto;
right:10px;
}

.slogan h2{
padding-bottom:5px;
font-size:20px;
}

.slogan h3{
font-size:14px;
}


/**************************
/* グリッド
**************************/
.gridWrapper{
clear:both;
padding:20px 0;
overflow:hidden;
}

* html .gridWrapper{height:1%;}
	
.grid{
float:left;
}

.colDark,.colLight{
padding-bottom:10px;
}

.grid h3{
padding:3px 0 3px 10px;
font-size:14px;
border-left:3px solid #2c74c6;
}

.colDark h3{
border-left:3px solid #02088a;
}

.grid p{
padding:5px 10px;
}

.grid ul{margin:5px 10px;}

#sub .grid ul{margin-bottom:20px;}

.grid li{
padding:5px 0;
list-style:inside;
border-top:1px solid rgba(0,0,0,1);
border-bottom:1px solid rgba(255,255,255,.1);
}

.grid li:first-child{border-top:0;}
.grid li:last-child{border-bottom:0;}

.gridWrapper img{
max-width:100%;
height:auto;
}

/* フッター内のグリッド(3カラム) */
#footer .grid{
background:transparent;
}

#footer .col3 ul{margin:0 0 10px 5px;}

#footer .col3 li{
padding:0 7px 0 5px;
margin-bottom:3px;
list-style:none;
border-bottom:0;
display:inline-block;
border:0;
}


/*************
メイン コンテンツ
*************/
section.content{
margin-bottom:20px;
font-size:20px;
overflow:hidden;
}

* html section.content{height:1%;}

section.content article{
padding:10px;
overflow:hidden;
}

* html section.content article{height:1%;}

/* section.content p{margin-bottom:5px;} */

#main h3.heading{
padding:3px 0 3px 10px;
font-size:20px;
border-left:3px solid #2c74c6;
margin: 10px;
}

.alignleft{
float:left;
clear:left;
margin:3px 10px 10px 1px;
}

.alignright{
float:right;
clear:right;
margin:3px 1px 10px 10px;
}

img.frame,#gallery img{
border:3px solid #02088a;
}

#gallery .gridWrapper{padding:0;}
#gallery .grid{border:0;background:none;}

#gallery img{
margin:5px;
}

section#gallery{overflow:visible;}


/*************
テーブル
*************/
table.table{
border-collapse:collapse;
width:100%;
margin:10px auto 20px;
}

table.table th,table.table td{
padding:5px;
border:1px solid #2c74c6;
}

table.table th{
font-weight:bold;
letter-spacing:1px;
white-space:nowrap;
color:#fff;
background:#000;
}


/*************
/* フッター
*************/
#footer{color:#ccc;}

#footer .copyright{font-size:11px;}


/* PC用 */
@media only screen and (min-width:960px){
	#wrapper,.inner,ul#topnav{
	width:940px;
	padding:0;
	}
	
	#wrapper{padding-bottom:20px;}
	
	#main{
	float:right;
	width:730px;
	}
	
	#subpage #sub{
	float:left;
	width:235px;
	overflow:hidden;
	}
	
	/* グリッド */
	.grid{width:234px;}
	.col2{width:469px;padding-bottom:12px;}
	.col3{width:704px;}
	#gallery .grid{width:230px;}
	#subpage #sub .grid{
	width:100%;
	float:none;
	padding-bottom:30px;
	}
	
}


/* モニター幅960px以下 */
@media only screen and (max-width:960px){
	#header h1,#header .logo{padding-left:10px;}
	#header .info{padding-right:10px;}
	
	ul#topnav{
	clear:both;
	width:100%;
	border-top:1px solid #2c74c6;
	}

	ul#topnav li{
	width:33%;
	border-right:1px solid #2c74c6;
	border-bottom:1px solid #2c74c6;
	box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
	}

	ul#topnav li:nth-child(3n){border-right:0;width:34%;}

	ul#topnav a{
	width:100%;
	border:0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
	}
	
	ul#topnav li.active a,ul#topnav a:hover{background:#000;}
	
	#mainBanner{width:100%;}

	.grid{
	width:50%;
	margin:2px 0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
	}
	
	.col2{
	float:none;
	width:100%;
	margin:0 0 20px;
	}
	
	.grid img{
	float:left;
	margin-right:5px;
	}
	
	#gallery .grid{
	width:31%;
	margin:0 1%;
	padding:0;
	}
	
	#gallery .grid img{
	float:none;
	}
	
	section.content{padding:0 10px;}
	
	section.content img{
  	max-width:90%;
	height:auto;
	}
	
	#sub .grid{padding-bottom:20px;}
	
	#footer{padding:0;}
	
	#footer .grid{
	float:none;
	width:100%;
	margin-bottom:5px;
	text-align:center;
	}
}


/* スマートフォン 横(ランドスケープ) */
@media only screen and (max-width:640px){
	.grid{width:100%;}
	
	.grid img{
	float:none;
	margin:20px auto 10px;
	}
	
	.grid p{text-align:left;}
	
	img.frame,#gallery img{border-width:2px;}

  .alignleft,.alignright{
	float:none;
	display:block;
	margin:0 auto 10px;
	}
	
	#footer .grid p{text-align:center;}
}


/* スマートフォン 縦(ポートレート) */
@media only screen and (max-width:480px){
	#header .logo{padding-top:10px;}
  .info{padding:10px 0;}
	ul#topnav li{width:50%;}

	ul#topnav li:nth-child(3n){
	border-right:1px solid #2c74c6;
	width:50%;
	}	
	ul#topnav li:nth-child(2n),ul#topnav li:nth-child(6n){border-right:0;}
	
	#mainBanner h2,#mainBanner h3{font-size:80%;}
}


/* time-schedule */
.time-schedule {
min-width: 400px;
max-width: 700px;
list-style: none;
margin: 0 auto 0 6em;
padding-left: 20px;
border-left: 6px solid #215896;
box-sizing: border-box;
}

.time-schedule li {
width: 100%;
margin: 0 0;
padding: 8px 0;
position: relative;
}

.time-schedule span.time {
width: 5em;
display: inline-block;
margin-left: -8em;
padding: 0 0 5px;
margin-top: 15px;
vertical-align: top;
position: relative;
text-align: right;
box-sizing: border-box;
}

.time{margin: 3px 0;}

.time-schedule span.time::after {
content: "";
position: absolute;
right: -47px;
top: 0;
background: #215896;
width: 20px;
height: 20px;
border-radius: 10px;
}

.time-schedule .sch_box {
color: #fff;
display: inline-block;
width: 100%;
margin-left: 50px;
padding: 15px 10px 15px 10px;
vertical-align: middle;
background: #5277a0;
box-sizing: border-box;
border-radius: 6px;
}

.time-schedule .sch_title {
font-size: 18px;
font-weight: 700;
}

.time-schedule .sch_tx {
font-size: 16px;
font-weight: normal;
color: #ccd4ff;
margin: 5px 0 0 7px;
}
